
body{
    font-family: 'Holtwood One SC', serif;
}
.container {
    background-color: rgba(42, 42, 42);
    border-radius: 1em;
    text-align: center;

}

label, .titulo, .btn {
    color: rgb(241, 199, 89);
    text-align: center;
    margin-top: 1em;
    

}

.form-group {
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}
.tabela{
    color:rgb(255, 64, 61);
    font-family: Helvetica, sans-serif;
}
.table-center{
    margin-left: 50px;
    margin-top: 30px;
}
hr{
    background-color: white;
    margin-right: 50px;
}
.resultados{
    color: rgb(241, 199, 89);
}
